.deleteq{
    color:snow;
    background-color:teal;
}
.mamie{
    border: solid black;
    background-color: turquoise;
    width: 800px;
}
#two{
    background-color: teal;
    color:snow;
}
#three{
    background-color: teal;
    color:snow;
}