@import "~bootstrap/dist/css/bootstrap.css";
html{
    background-image: url("https://images.pexels.com/photos/257840/pexels-photo-257840.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
}
body{
    color: teal;
    background-color:lightgray;
    font-family: calibri;
    font-size: 20px;
}
.btn btn-primary{
background-color: teal;
}
